body{
    font-family: system-ui;
}

.my_header{color:rgb(0, 0, 0)}


.summit {
    background: #000000;
    color: white;
    border-style: outset;
    border-color: #000000;
    height: 50px;
    width: 100px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
}
.reset {
    background: #000000;
    color: white;
    border-style: outset;
    border-color: #000000;
    height: 50px;
    width: 100px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
}
.summit {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    background: linear-gradient(45deg,#140C0B,#241918,#332928);
}
.reset {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    background: linear-gradient(45deg,#140C0B,#241918,#332928);
}